<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="Monarch/!ExpiredSession.htm">
      <error statusCode="404" redirect="Monarch/!ExpiredSession.htm" />
      <error statusCode="400" redirect="Monarch/!ExpiredSession.htm" />
      <error statusCode="401" redirect="Monarch/!ExpiredSession.htm" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="ASNA.Runtime.Logging, Version=10.1.34.0, Culture=neutral, PublicKeyToken=B904047D5AC8EE3D" />
        <add assembly="ASNA.DataGate.Client, Version=14.0.17.0, Culture=neutral, PublicKeyToken=78AAC8F1F3F86B73" />
        <add assembly="ASNA.VisualRPG.Runtime, Version=14.0.31.0, Culture=neutral, PublicKeyToken=D7106BE54D30C861" />
        <add assembly="ASNA.VisualRPG.Common.Sgml, Version=14.0.4.0, Culture=neutral, PublicKeyToken=05C0964FD58B64D7" />
        <add assembly="ASNA.Monarch.WebDspF, Version=14.0.36.0, Culture=neutral, PublicKeyToken=71DE708DB13B26D3" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Monarch/Signon.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="MonarchMessageFileFolder" value="~/MessageFiles" />
  <add key="system" value="172.29.167.120" />
    <add key="port" value="5042" />
    <add key="program" value="" />
	<add key="current_library" value="" />
  </appSettings>
</configuration>