<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="ASNA.Runtime.Logging, Version=10.1.13.0, Culture=neutral, PublicKeyToken=B904047D5AC8EE3D" />
        <add assembly="ASNA.DataGate.Client, Version=12.0.24.0, Culture=neutral, PublicKeyToken=78AAC8F1F3F86B73" />
        <add assembly="ASNA.VisualRPG.Runtime, Version=12.0.37.0, Culture=neutral, PublicKeyToken=D7106BE54D30C861" />
        <add assembly="ASNA.VisualRPG.Common.Sgml, Version=12.0.13.0, Culture=neutral, PublicKeyToken=05C0964FD58B64D7" />
        <add assembly="ASNA.Monarch.WebDspF, Version=12.0.48.0, Culture=neutral, PublicKeyToken=71DE708DB13B26D3" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="Monarch/Signon.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="MonarchMessageFileFolder" value="~/MessageFiles" />
	<add key="system" value="172.29.167.120" />
    	<add key="port" value="5042" />
    	<add key="program" value="DSLOADCI" />
  </appSettings>
</configuration>