@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url('../Fonts/Open-Sans-regular.eot'); /* IE9 Compat Modes */
  src: url('../Fonts/Open-Sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/Open-Sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/Open-Sans-regular.woff') format('font-woff'), /* Pretty Modern Browsers */
       url('../Fonts/Open-Sans-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/Open-Sans-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/Open-Sans-700.eot'); /* IE9 Compat Modes */
  src: url('../Fonts/Open-Sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../Fonts/Open-Sans-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../Fonts/Open-Sans-700.woff') format('font-woff'), /* Pretty Modern Browsers */
       url('../Fonts/Open-Sans-700.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../Fonts/Open-Sans-700.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.clear {
	clear: both
}

img {
	width: auto!important;
	height: auto!important;
	max-width: 100%!important
}

ul, li {
	margin: 0;
	padding: 0
}

li {
	list-style-type: none
}

li a {
	text-decoration: none
}

.mdl-layout__content {
	height: auto!important
}

.homepage-content .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
	width: calc(33.3333%);
	width: -webkit-calc(33.3333%);
	width: -moz-calc(33.3333%);
	width: -o-(33.3333%)
}

.homepage-content .mdl-grid {
	padding: 0
}

.homepage-content .mdl-cell {
	margin: 0
}

.card {
	perspective: 1500px!important;
	margin: -1px
}

.front {
	display: table
}

.front-content {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle
}

.mdl-layout__content .block-heading {
	color: #fff;
	font-size: 25px;
	font-family: "Open Sans", "OpenSansRegular", "Arial", sans-serif;
	margin: 0 10px 16px;
	text-align: center
}

.back {
	background: #fff
}

.contracts-bg, .sales-order-bg, .inv-delv-sch-bg, .misc-cust-serv-bg, .incomplete-orders-bg, .othr-misc-sales-menu-bg {
	background: url(../Images/homepage-sprite.png) no-repeat;
	max-height: 100%
}

.contracts-bg {
	background-position: 0 0;
	background-size: 320% 210%
}

.sales-order-bg {
	background-position: 50% 0;
	background-size: 320% 210%
}

.inv-delv-sch-bg {
	background-position: 97% 0;
	background-size: 320% 210%
}

.misc-cust-serv-bg {
	background-position: 0 97%;
	background-size: 320% 210%
}

.incomplete-orders-bg {
	background-position: 50% 97%;
	background-size: 320% 210%
}

.othr-misc-sales-menu-bg {
	background-position: 97% 97%;
	background-size: 320% 210%
}


.contracts-icon-hover, .sales-order-icon-hover, .invent-delv-sch-icon-hover, .misc-cust-serv-icon-hover, .incomplete-orders-icon-hover, .misc-sales-menu-icon-hover {
	float: left;
	margin: 0 10px 0 15px;
}

.icon-block {
	height: 75px;
	margin: 0 auto;
	width: 83px
}

.contracts-icon, .sales-order-icon, .invent-delv-sch-icon, .misc-cust-serv-icon, .incomplete-orders-icon, .misc-sales-menu-icon {
	display: block;
	margin: 0 auto 15px;
}

.material-icons.square-icon {
	border: solid 2px #e32527;
	height: 10px;
	margin: 10px 0 0 5px;
	width: 10px
}

._list {
	margin: 0 15px 15px
}

.mdl-layout__content ._title {
	font-size: 25px;
	line-height: 30px;
	margin: 15px 5px 15px 10px
}

._item {
	border-bottom: 1px solid #c5c5c5
}

._item:last-child {
	border-bottom: none
}

._item a p {
	display: inline-block;
	margin: 5px 0 5px 10px;
	vertical-align: top
}

.homepage-copyright-container {
	margin-top: 0
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	._item a p {
		margin: 5px 0 5px 7px;
		font-size: 12px
	}
	.contracts-bg {
		background-position: 12% 0;
		background-size: 760% 210%
	}
	.sales-order-bg {
		background-position: 50% 0;
		background-size: 760% 210%
	}
	.inv-delv-sch-bg {
		background-position: 88% 0;
		background-size: 760% 210%
	}
	.misc-cust-serv-bg {
		background-position: 12% 96%;
		background-size: 760% 210%
	}
	.incomplete-orders-bg {
		background-position: 50% 97%;
		background-size: 760% 210%
	}
	.othr-misc-sales-menu-bg {
		background-position: 87% 97%;
		background-size: 760% 210%
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
	.contracts-bg {
		background-position: 0 0;
		background-size: 400% 210%
	}
	.sales-order-bg {
		background-position: 50% 0;
		background-size: 400% 210%
	}
	.inv-delv-sch-bg {
		background-position: 97% 0;
		background-size: 400% 210%
	}
	.misc-cust-serv-bg {
		background-position: 0 97%;
		background-size: 400% 210%
	}
	.incomplete-orders-bg {
		background-position: 50% 97%;
		background-size: 400% 210%
	}
	.othr-misc-sales-menu-bg {
		background-position: 97% 97%;
		background-size: 400% 210%
	}
}

@media only screen and (max-width: 1200px) {
	.homepage-content .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
		width: calc(33.3333%)
	}
}

@media only screen and (max-width: 1024px) {
	._title {
		font-size: 20px!important
	}
}

@media only screen and (max-width: 979px) {
	.progress-bar .step-width {
		width: 16%
	}
	.progress-bar .step-title, .progress-bar .step-title-selected {
		font-size: 17px
	}
	.progress-bar .step-txt, .progress-bar .step-txt-selected {
		font-size: 11px
	}
	.block-heading, ._title {
		font-size: 16px;
		line-height: 30px
	}
	._title {
		font-weight: 700
	}
	._list {
		margin: 0 8px 8px!important
	}
}

@media only screen and (max-width: 767px) {
	.progress-bar .step-width {
		width: 14%
	}
	.progress-bar .step-title, .progress-bar .step-title-selected {
		font-size: 14px
	}
	.progress-bar .step-txt, .progress-bar .step-txt-selected {
		font-size: 10px
	}
	.homepage-content .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
		width: calc(50%)
	}
	.block-heading, ._title {
		font-size: 14px!important
	}
	._title {
		font-weight: 700;
		margin: 5px 0 15px!important
	}
	._item a p {
		font-size: 12px!important
	}
	._list {
		margin: 0 5px 5px!important
	}
	.contracts-icon-hover, .sales-order-icon-hover, .invent-delv-sch-icon-hover, .misc-cust-serv-icon-hover, .incomplete-orders-icon-hover, .misc-sales-menu-icon-hover {
		margin: 0 5px 0 8px !important
	}
}

@media only screen and (max-width: 480px) {
	.homepage-content .mdl-cell--6-col-phone.mdl-cell--6-col-phone {
		width: calc(100%)
	}
}