@font-face {
  font-family:  "Open Sans","OpenSansRegular","Arial",sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
.clear {
	clear: both;
}
img {
	width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}
ul, li{
	margin: 0;
	padding: 0;	
}
li{
	list-style-type: none;	
}
li a{
	text-decoration: none;	
}



/* copyright section css starts here 
.homepage-copyright-container {
	background: #58595b;
	color: #fff;
	font-family: "Open Sans","OpenSansRegular","Arial",sans-serif;
	font-size: 11px;
	margin-top: 10px;
	padding: 10px 0 12px 0;
	text-align: center;
}
*/

/* homepage CSS starts here */

.homepage-content .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
		width: calc(33.3333%);
		width: -webkit-calc(33.3333%);
		width: -moz-calc(33.3333%);
		width: -o-(33.3333%);
}
.homepage-content .mdl-grid {
	padding: 0;
}
.homepage-content .mdl-cell {
	margin: 0px;
}
.card {perspective: 1500px !important; margin: -1px;}


/* homepage css ends here */

.front{
	display: table;
}
.front-content{
	cursor: pointer;
	display: table-cell;
    vertical-align: middle;
}
.contracts-icon,.sales-order-icon,.invent-delv-sch-icon,.misc-cust-serv-icon,.incomplete-orders-icon,.misc-sales-menu-icon{
	margin: 0 auto;
}
.contracts-icon{
	background:url(../Images/contracts-icon.png) no-repeat;
	width: 60px;	
}
.sales-order-icon{
	background:url(../Images/sales-order-icon.png) no-repeat;
	width: 47px;	
}
.invent-delv-sch-icon{
	background:url(../Images/invent-delv-sch-icon.png) no-repeat;
	width: 61px;	
}
.misc-cust-serv-icon{
	background:url(../Images/misc-cust-serv-icon.png) no-repeat;
	width: 83px;	
}
.incomplete-orders-icon{
	background:url(../Images/incomplete-orders-icon.png) no-repeat;
	width: 38px;	
}
.misc-sales-menu-icon{
	background:url(../Images/misc-sales-menu-icon.png) no-repeat;
	width: 68px;	
}
.contracts-icon,.sales-order-icon,.invent-delv-sch-icon,.misc-cust-serv-icon,.incomplete-orders-icon,.misc-sales-menu-icon{ 
	height: 71px; 
	margin-bottom: 15px;
}
.mdl-layout__content .block-heading{
	color: #fff;	
	font-size: 25px;
	font-family:  "Open Sans","OpenSansRegular","Arial",sans-serif;
	margin: 0 10px 16px;
	text-align: center;
}
.back{
	background: #fff;	
}
.contracts-icon-hover,.sales-order-icon-hover,.invent-delv-sch-icon-hover,.misc-cust-serv-icon-hover,.incomplete-orders-icon-hover,.misc-sales-menu-icon-hover{
	float: left;
	margin: 0 10px 0 15px;
}
.contracts-icon-hover{
	background:url(../Images/contracts-icon-hover.png) no-repeat;
	height: 32px;
	width: 36px;	
}
.sales-order-icon-hover{
	background:url(../Images/sales-order-icon-hover.png) no-repeat;
	height: 34px;
	width: 31px;	
}
.invent-delv-sch-icon-hover{
	background:url(../Images/invent-delv-sch-icon-hover.png) no-repeat;
	height: 43px;
	width: 37px;	
}
.misc-cust-serv-icon-hover{
	background:url(../Images/misc-cust-serv-icon-hover.png) no-repeat;
	height: 42px;
	width: 61px;	
}
.incomplete-orders-icon-hover{
	background:url(../Images/incomplete-orders-icon-hover.png) no-repeat;
	height: 36px;
	width: 26px;	
}
.misc-sales-menu-icon-hover{
	background:url(../Images/misc-sales-menu-icon-hover.png) no-repeat;
	height: 43px;
	width: 41px;	
}
.material-icons.square-icon {
	border: solid 2px #e32527;
	height: 10px;
	margin: 10px 0 0 5px;
	width: 10px;
}
._list{
	margin: 0 15px 15px 15px;
}
.mdl-layout__content ._title{
	font-size: 25px;
	line-height: 30px;	
	margin: 15px 5px 15px 10px;
}
._item{
	border-bottom: 1px solid #c5c5c5;	
}
._item:last-child{
	border-bottom: none;	
}
._item a p {
	display: inline-block;
	margin: 5px 0 5px 10px;
	vertical-align: top;
}
/* css for background images*/

.contracts-bg{
	background:url(../Images/444_r1_c1.png) no-repeat;
}
.sales-order-bg{
	background:url(../Images/444_r1_c2.png) no-repeat;
}
.inv-delv-sch-bg{
	background: url(../Images/444_r1_c3.png) no-repeat;
}
.misc-cust-serv-bg{
	background: url(../Images/444_r2_c1.png) no-repeat;	
}
.incomplete-orders-bg{
	background: url(../Images/444_r2_c2.png) no-repeat;	
}
.othr-misc-sales-menu-bg{
	background: url(../Images/444_r2_c3.png) no-repeat;	
}
.contracts-bg,.sales-order-bg,.inv-delv-sch-bg,.misc-cust-serv-bg,.incomplete-orders-bg,.othr-misc-sales-menu-bg{
	background-position: center center;
	background-size: cover;	
	height: 230px;
	width: 333px;
}
.homepage-copyright-container {
	margin-top: 0;
}


@media only screen and (max-width : 1200px) {
	.homepage-content .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
		width: calc(33.3333%);
	}
}
@media only screen and (max-width : 1024px) {
	._title{ font-size: 20px !important;}
}
@media only screen and (max-width : 979px) {
	.progress-bar .step-width {
		width: 16%;
	}
	.progress-bar .step-title, .progress-bar .step-title-selected {
		font-size: 17px;
	}
	.progress-bar .step-txt, .progress-bar .step-txt-selected {
		font-size: 11px;
	}
	/* css by Anagha */
	.block-heading,._title{ font-size: 16px; line-height: 30px;}
	._title{ font-weight: bold;}
	._list{	margin: 0 8px 8px 8px !important;}
}

@media only screen and (max-width : 767px) {
	.progress-bar .step-width {
		width: 14%;
	}
	.progress-bar .step-title, .progress-bar .step-title-selected {
		font-size: 14px;
	}
	.progress-bar .step-txt, .progress-bar .step-txt-selected {
		font-size: 10px;
	}
	.homepage-content .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
		width: calc(50%);
	}
	.block-heading,._title{ font-size: 14px !important;}
	._title{ font-weight: bold; margin: 5px 0 15px !important; }
	._item a p{ font-size: 12px !important;}
	._list{	margin: 0 5px 5px 5px !important;}
	.contracts-icon-hover,.sales-order-icon-hover,.invent-delv-sch-icon-hover,.misc-cust-serv-icon-hover,.incomplete-orders-icon-hover,.misc-sales-menu-icon-hover{
	margin: 0 5px 0 8px !important;
	}
}

@media only screen and (max-width : 480px) {
	.homepage-content .mdl-cell--6-col-phone.mdl-cell--6-col-phone {
		width: calc(100%);
	}
}

@media only screen and (max-width : 320px) {
}